<a href="https://colab.research.google.com/github/Sourav-Manik/AI-Assignments/blob/main/Assignment_2_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [ ]:
import pandas as pd

Import Data

In [ ]:
employee_data = pd.read_csv('/content/employee.csv')
employee_data

      EID      Employee Name Gender   Salary Date of Joining   Department
0   E123D        Nitin Bhole      M  1900000      01-11-2016     Products
1   E876G     Mayur Kulkarni      M  1200000      03-06-2016    Semantics
2   E798G      Anurag Pandey      M  1200000      04-07-2016           IT
3   E123B      Pankaj Bansal      M   900000      01-12-2015     Research
4   E098Z    Rajendra Prabhu      M  1000000      11-11-2015    Semantics
5   E294M     Sumanth Mishra      M  1800000      04-09-2017     Research
6   E972L          Sai Bodha      M  1100000      11-11-2017    Semantics
7   E184A  Kushmakar Krishna      M  1100000      01-01-2015     Products
8   E104S     Amarnath Patil      M   600000      29-11-2015  Engineering
9   E093V   Shashidhar Reddy      M   700000      29-11-2018  Engineering
10  E983Q     Chakshu Bansal      F   300000      04-12-2017     Products
11  E092E       Mitali Gupta      F  1600000      02-05-2019    Semantics
12  E620Y     Kumar Abhishek      M  1100000      01-12-2014    Semantics
13  E109U     Sanket Gibbidi      M  5000000      11-01-2019     Products

In [ ]:
employee_data.shape

(14, 6)

In [ ]:
employee_data.dtypes

EID                object
Employee Name      object
Gender             object
Salary              int64
Date of Joining    object
Department         object
dtype: object

#1.Given an employee id, greet them with their first name.

In [ ]:
enter_EID = input('Enter employee EID : ')

get_emp_name = employee_data.loc[employee_data["EID"] == enter_EID, "Employee Name"].unique()[0]

print('Employee name is ',get_emp_name)

Enter employee EID : E109U
Employee name is  Sanket Gibbidi

#2.Function for calculating the average salary of each department

In [ ]:
def get_dept_avg_sal(dept_name):

  dept_total_sal = employee_data.loc[employee_data['Department'] == dept_name,'Salary'].sum()
  dept_total_count = employee_data.loc[employee_data['Department'] == dept_name,'Salary'].count()

  return dept_total_sal/dept_total_count

In [ ]:
get_dept_avg_sal('IT')

1200000.0

#3.Given an Employee id, display respective employees Name, Data of Joining and Department.

In [ ]:
enter_EID = input('Enter employee EID : ')

get_emp_name = employee_data.loc[employee_data["EID"] == enter_EID, "Employee Name"].unique()[0]
get_DOJ = employee_data.loc[employee_data["EID"] == enter_EID, "Date of Joining"].unique()[0]
get_Department = employee_data.loc[employee_data["EID"] == enter_EID, "Department"].unique()[0]

print(get_emp_name , ' | ' , get_DOJ, ' | ' ,get_Department)

Enter employee EID : E109U
Sanket Gibbidi  |  11-01-2019  |  Products

#4.Function for sorting employees from Oldest to Newest

In [ ]:
employee_data.head(5)

     EID    Employee Name Gender   Salary Date of Joining Department
0  E123D      Nitin Bhole      M  1900000      01-11-2016   Products
1  E876G   Mayur Kulkarni      M  1200000      03-06-2016  Semantics
2  E798G    Anurag Pandey      M  1200000      04-07-2016         IT
3  E123B    Pankaj Bansal      M   900000      01-12-2015   Research
4  E098Z  Rajendra Prabhu      M  1000000      11-11-2015  Semantics

In [ ]:
employee_data['Date of Joining']= pd.to_datetime(employee_data['Date of Joining'])

In [ ]:
employee_data.dtypes

EID                        object
Employee Name              object
Gender                     object
Salary                      int64
Date of Joining    datetime64[ns]
Department                 object
dtype: object

In [ ]:
employee_data = employee_data.sort_values(by='Date of Joining').reset_index(drop=True)

In [ ]:
employee_data

      EID      Employee Name Gender   Salary Date of Joining   Department
0   E620Y     Kumar Abhishek      M  1100000      2014-01-12    Semantics
1   E184A  Kushmakar Krishna      M  1100000      2015-01-01     Products
2   E123B      Pankaj Bansal      M   900000      2015-01-12     Research
3   E098Z    Rajendra Prabhu      M  1000000      2015-11-11    Semantics
4   E104S     Amarnath Patil      M   600000      2015-11-29  Engineering
5   E123D        Nitin Bhole      M  1900000      2016-01-11     Products
6   E876G     Mayur Kulkarni      M  1200000      2016-03-06    Semantics
7   E798G      Anurag Pandey      M  1200000      2016-04-07           IT
8   E294M     Sumanth Mishra      M  1800000      2017-04-09     Research
9   E983Q     Chakshu Bansal      F   300000      2017-04-12     Products
10  E972L          Sai Bodha      M  1100000      2017-11-11    Semantics
11  E093V   Shashidhar Reddy      M   700000      2018-11-29  Engineering
12  E092E       Mitali Gupta      F  1600000      2019-02-05    Semantics
13  E109U     Sanket Gibbidi      M  5000000      2019-11-01     Products